.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #12091D;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tlk-logo {

  position: absolute;
  bottom: 40px;
  width: 32px;

}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

/* Default styles for larger screens (you can adjust the breakpoint) */
.rive-container {
  width: 1920px;
  height: auto;
  aspect-ratio: 1 / 1; /* Adjust to your animation's aspect ratio */
}

/* Styles for tablets (example breakpoint: 768px and below) */
@media (max-width: 768px) {
  .rive-container {
    width: 1200px;
}
}

/* Styles for smaller mobile devices (example breakpoint: 450px and below) */
@media (max-width: 450px) {
  .rive-container {
    width: 900px;
  }
}